GOOGLE_API_KEY=your_google_api

NCBI_API_KEY=your_ncbi_api
NCBI_EMAIL=your_email
HF_TOKEN=your_hf_token

CHROMA_DB_PATH=./data/chroma_db
ABSTRACTS_PATH=./data/hnscc_abstracts.json
EMBEDDING_MODEL=pritamdeka/S-PubMedBert-MS-MARCO
LLM_MODEL=gemini-2.5-flash